.container-vehicle-garage-police {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    color:#ECF0F1;
    font-size: 1.5rem;
    @media screen and (max-width: 1280px){
      font-size: 1.2rem;
    }
  }

  button {
    background-color: #8E44AD;
    color:#ECF0F1;
    padding: 15px 20px;
    outline: none;
    border: none;
    border-radius: 12px;
    width: 150px;
    transition: all 0.2s ease-in-out;
    will-change: auto;
    cursor: pointer;
    font-family: "Poppins", sans-serif;

    @media screen and (max-width: 1280px){
      width: 100px;
      height: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      transform: scale(1.02);
    }
  }
}
